/* Tambahkan gaya untuk button */
button a {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #fff;
    background-color: #3490dc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button a:hover {
    background-color: #2779bd;
}

/* Gaya tambahan untuk tata letak tombol */
button {
    margin-top: 5px;
    /* Sesuaikan sesuai kebutuhan */
}

/* Gaya tambahan untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    /* Sesuaikan sesuai kebutuhan */
}

th,
td {
    border: 1px solid #e2e8f0;
    /* Sesuaikan warna sesuai kebutuhan */
    padding: 10px;
    text-align: left;
}

/* Gaya tambahan untuk formulir pencarian */
.form-group {
    margin-bottom: 20px;
    /* Sesuaikan sesuai kebutuhan */
}

.cont-search {
    display: flex;
    align-items: center;
}

.search {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    /* Sesuaikan sesuai kebutuhan */
}

.btn-primary {
    background-color: #4CAF50;
    /* Sesuaikan warna sesuai kebutuhan */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45a049;
    /* Sesuaikan warna sesuai kebutuhan */
}